@font-face {
    font-family: Biennale Sans;
    src: url(.././fonts/Fontspring-DEMO-biennale-light.otf);
}

 :root {
    --smooth: 0.4s;
}

.app {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

html {
    font-size: 100%;
    font-family: Biennale Sans;
    margin: 0;
}

.header {
    background-color: #4D46FA;
}

.header__nav {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.header__logo--group {
    align-items: center;
    display: flex;
}

.header__logo--lang {
    display: flex;
    padding-left: 6px;
    align-items: center;
}

.header__logo--title {
    font-family: Biennale Sans;
    font-weight: bolder;
    color: black;
    font-size: 24px;
    color: #fff;
}

.header__menu--list {
    list-style: none;
}

.header__menu--list li {
    margin-left: 24px;
}

.header__menu--list {
    display: inline-flex;
}

.header__menu--list li a {
    padding: 12px;
    font-weight: 400;
    letter-spacing: 5%;
    text-align: center;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    color: #fff;
}

.header__menu--list li a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    transition: var(--smooth);
}

.btn {
    padding: 10px 16px;
    background: #ffffff;
    border-radius: 12px;
    color: #4D46FA;
    font-size: 14px;
    font-weight: 600;
    min-width: 118px;
    border-style: none;
    border-color: none;
    font-family: Biennale Sans;
}

.btn:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    transition: var(--smooth);
}

.nav__container {
    background-color: #fff;
}

.nav__booking {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__booking--info {
    display: flex;
}

.nav__booking--gps {}

.nav__booking--title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4D46FA;
}

.nav__booking--des {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.nav__booking--arrow {
    width: 60px;
    height: 60px;
    display: inline;
}

.nav__booking--arrow--arrow-l {
    display: block;
    height: fit-content;
}

.nav__booking--arrow--arrow-r {
    display: inline-block;
}

.nav__booking--arrow {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    width: 60px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.3;
}

.nav__booking--content {}

.nav__booking--content--list {
    list-style: none;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.nav__booking--content--list li {
    margin-right: 20px;
}

.btn__change {
    padding: 10px 16px;
    background: #F06336;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    min-width: 130px;
    border-style: none;
    border-color: none;
    font-family: Biennale Sans;
    cursor: pointer;
}

.btn__change:hover {
    background-color: #4D46FA;
    transition: var(--smooth);
}

.btn__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__content {
    padding-top: 18px;
    background-color: #F4F2F9;
    width: 100%;
}

.option {
    outline: none;
    color: #000000;
    font-family: Biennale Sans;
    border: none;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background: #FFFFFF;
}

select {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.375em;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.filter {
    display: flex;
    justify-content: end;
    align-items: center;
}

.filter--text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    opacity: 0.5;
}

.flights {
    width: 270px;
    height: 433px;
    background-color: #fff;
    border-radius: 12px;
}

.flights--text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 16px;
    border-bottom: 1px solid #ccc2c2;
}

.box__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
}

.flights__box {
    display: flex;
    padding: 12px;
}

.box__img {}

.box__info--text {
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 5px;
}

.box__info--gps {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.flights__des--line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flights__des--time {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}

.flights__des--time::after {
    font-size: 10px;
    content: "DAD";
    position: absolute;
    left: 13px;
    top: 115%;
    padding: 3px;
    background: rgba(77, 70, 250, 0.1);
    border-radius: 100px;
}

.flights__des--time::before {
    font-size: 10px;
    content: "DAD";
    position: absolute;
    right: 19px;
    top: 115%;
    padding: 3px;
    background: rgba(77, 70, 250, 0.1);
    border-radius: 100px;
}

.flights__des {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flights__des::after {
    content: "1h 30m";
    top: -63%;
    right: 39%;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.flights__des::before {
    content: "Direct";
    top: 50%;
    right: 42%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
}

.flights__btn {
    margin-left: 36px;
    margin-top: 56px;
    background: rgba(77, 70, 250, 0.1);
    border-radius: 12px;
    padding: 10px 16px;
    border-radius: 12px;
    color: #4D46FA;
    font-size: 14px;
    font-weight: 600;
    min-width: 118px;
    border-style: none;
    border-color: none;
    font-family: Biennale Sans;
    cursor: pointer;
}

.box__text {
    border-radius: 100px;
    width: 33px;
    color: #fff;
    height: 33px;
    padding: 6px;
    font-style: normal;
    font-weight: 600;
    background-color: #4D46FA;
}

.box__text_1 {
    border-radius: 100px;
    width: 33px;
    font-size: 14px;
    color: #fff;
    height: 33px;
    padding: 6px;
    font-style: normal;
    font-weight: 600;
    background-color: #979797;
}

.flights__btn:hover {
    transition: var(--smooth);
    background-color: #4D46FA;
    color: #fff;
}

.flights__sub {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #F8F8F8;
    padding: 10px;
}

.flights__sub--title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.flights__sub--total {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #F06336;
}

.box__nav--logo {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__one {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.box__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__flight--list {
    display: flex;
    flex-direction: column;
}

.box__flight--price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price--old {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.5;
    text-decoration-line: line-through;
}

.price--current {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #F06336;
}

.btn__choose {
    padding: 10px 16px;
    color: #F06336;
    font-size: 14px;
    font-weight: 600;
    min-width: 60px;
    border-style: none;
    border-color: none;
    font-family: Biennale Sans;
    background: rgba(240, 99, 54, 0.1);
    border-radius: 12px;
}

.btn__choose:hover {
    background-color: #4D46FA;
    color: #fff;
    transition: var(--smooth);
}

.box__flight--item {
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
}

.box__flight {
    display: flex;
}

.box__flight__des--line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__flight__des--time {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}

.box__flight__des--time::after {
    font-size: 10px;
    content: "DAD";
    position: absolute;
    left: 0;
    top: 115%;
    padding: 3px;
    background: rgba(77, 70, 250, 0.1);
    border-radius: 100px;
}

.box__flight__des--time::before {
    font-size: 10px;
    content: "DAD";
    position: absolute;
    right: 6px;
    top: 115%;
    padding: 3px;
    background: rgba(77, 70, 250, 0.1);
    border-radius: 100px;
}

.box__flight {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box__flight::after {
    content: "1h 30m";
    top: -63%;
    right: 39%;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.box__flight::before {
    content: "Direct";
    top: 50%;
    right: 42%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
}

.box__detail {
    margin-top: 36px;
}

.box__detail a {
    text-decoration: none;
}

.box__detail a:nth-child(1) {
    color: #4D46FA;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.box__detail a:nth-child(2) {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
}

.box__detail--line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    height: 146px;
    width: 1px;
    margin-top: 9px;
}

.box__detail--time-one {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.box__detail--line::after {
    content: "1h 30m";
    top: 42px;
    right: 18px;
    position: absolute;
    font-size: 11px;
}

.line {
    height: 90%;
    border: 1px solid #4D46FA;
    transform: rotate(180deg);
}

.box__detail--time {
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__detail--content {
    display: flex;
    padding: 16px;
}

.box__detail--gps {
    margin-left: 16px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__detail--gps-one {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.box__info-logo--air {
    display: flex;
    align-items: center;
}

.box__info--air--item {
    display: flex;
    background: #F4F2F9;
    border-radius: 12px;
    padding: 3px;
}

.box__info--air--item ul {
    padding: 0;
    list-style: none;
    line-height: 28px;
    margin-left: 6px;
    font-size: 14px;
}

.box__info--air--item ul:nth-child(2) {
    margin-left: 12%;
}

.box__info--air {
    flex: 1;
    justify-content: start;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.box__detail {
    border-top: 1px ridge;
}

.box__two {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.box__two--detail {
    border-top: 1px ridge;
}

.box__two--detail a:nth-child(2) {
    color: #4D46FA;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.box__two--detail a:nth-child(1) {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
}

.box__two--detail a {
    text-decoration: none;
}

.box__two--detail {
    margin-top: 26px;
}

.box__two--air {
    display: flex;
    justify-content: start;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}

.box__two--gps {
    display: flex;
    justify-content: start;
    align-items: center;
}

.box__two--text {
    display: flex;
    align-items: center;
}

.box__two--text p:nth-child(1) {
    width: 58.5%;
}

.box__two--con {
    display: flex;
}

.box__two--conr {
    width: 100%;
    position: relative;
}

.box__two--conl {
    width: -webkit-fill-available;
}

.box__two--price--list ul {
    margin: 0;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.box__two--price--list ul p {
    margin-top: 12px;
}

.box__two--price--list ul li:nth-child(4) {
    color: #F06336;
    padding-top: 6px;
}

.box__two--price--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box__two--price--list::after {
    content: "";
    width: 85%;
    border: 1px ridge;
    position: absolute;
    top: 108px;
    right: 0px;
}

.box__three {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.demo__test a {
    text-decoration: none;
}

.demo__test {
    margin-top: 26px;
    margin-bottom: 6px;
}

.demo__test a:nth-child(1) {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.4;
}

.demo__test a:nth-child(2) {
    color: #4D46FA;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.box__four {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.box__five {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.box__six {
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

.footer {
    z-index: -1;
    display: flex;
    height: 100px;
    background: #F4F2F9;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 10%;
}

.footer a:hover {
    transition: var(--smooth);
    color: #4D46FA;
}

.footer__list--contact {
    display: flex;
    list-style: none;
    width: fit-content;
    height: fit-content;
}
